@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root[data-theme='light'] {
    --base: #ffffff;
    --base-2: #f9f9f9;
    --button-color: #f6f6f6;
    --fundo: linear-gradient(38deg, rgba(3,1,37,1) 0%, rgba(2,12,52,1) 43%, rgba(0,70,84,1) 100%);
    --font: #292d36;
    --turquesa: #26fcd5;
    --vermelho: #f37a7a;
    --rosa-claro: #ffb6c1;
}

:root[data-theme='dark'] {
    --base: #22252d;
    --base-2: #292d36;
    --button-color: #2c3038;
    --fundo: linear-gradient(38deg, rgba(187,200,144,1) 0%, rgba(127,129,104,1) 43%, rgba(94,96,48,1) 100%);
    --font: #ffffff;
    --turquesa: #26fcd5;
    --vermelho: #f37a7a;
    --rosa-claro: #ffb6c1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--fundo);
    background-size: cover;
    background-attachment: fixed;
}

.container-calculator {
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 200px;
    height: 350px;
    background-color: var(--base);
    border-radius: 15px;
    color: var(--font);
}

.display {
    background-color: var(--base);
    border-radius: 15px;
}

.switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    background-color: var(--base);
    border-radius: 15px;
    transform: --transition;
}

.switcher > button {
    background-color: var(--base-2);
    cursor: pointer;
}

.light-mode, .night-mode {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-mode {
    border: 1px solid var(--base-2);
    border-radius: 8px 0 0 8px;
    padding: 8px 10px 9px 15px;
}

.night-mode {
    border: 1px solid var(--base-2);
    border-radius: 0 8px 8px 0;
    padding: 8px 15px 9px 10px;
}

#sun, #moon {
    width: 10px;
}

.operation {
    background-color: var(--base);
    margin: 60px 0 3px 0;
    text-align: end;
}

.numbers-operation {
    font-weight: 400;
    padding-right: 12px;
}

.results {
    background-color: var(--base);
    margin: 1px 0 10px 0;
    text-align: end;
}

.numbers-results {
    font-weight: 600;
    font-size: 25px;
    padding-right: 10px;
}

.keys {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--base-2);
    padding: 18px 12px;
    border: 1px solid var(--base-2);
    border-radius: 15px;
}

.keys > button {
    color: var(--font);
    border: 1px solid var(--button-color);
    border-radius: 8px;
    padding: 5px 6px;
    background-color: var(--button-color);
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}

#transform-buttons {
    color: var(--turquesa);
}

#operator-buttons {
    color: var(--vermelho);
    font-size: 16px;
}

.keys > button:active {
    background-color: var(--rosa-claro);
}

.light-mode:active {
    background-color: yellow;
}

.night-mode:active {
    background-color: skyblue;
}